body{
    background-color: #333;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(10, 7, 7, 0.479)), url("https://images.unsplash.com/photo-1527853359084-088460b3000d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YmFja3N0YWdlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.container{
    margin: 0px auto;
    padding: 0px 10%;
    text-align: justify;
}

h1{
    text-align: center;
    color: red;
    text-transform: uppercase;
}
h4{
    color: red;
    text-transform: uppercase;
}

.btn{
    width: 200px;
    border-radius: 10px;
    background-origin:content-box;
}

.vbtn{
    text-align: center;
}

.whatsApp{
  /* width: px;
  height: 10px; */
  position: fixed;
  bottom: 2%;
  right:2%;
  display: inline;
  z-index: 1;
}

.iconW{
  height: 60px;
  width: 60px;
  cursor: pointer;
}
